<p class="InfoText">{{infoText}}</p>
<div class="wpfe-education-info-page-theme-main">
	<div class="wpfe-education-info-page-theme-Lblock">
		<div class="wpfe-education-info-page-theme-Edubutton"> Обучение</div>
		<div class="wpfe-education-info-page-theme-lSelector">
			<div class="wpfe-education-info-page-theme-lSelector-up">
				Выбор уровней
				<div class="wpfe-education-info-page-theme-lSelector-btn"></div>
			</div> 
			<div class="wpfe-education-info-page-theme-lSelector-down">
				<div class="wpfe-education-info-page-theme-lSelector-lBlock">
					<div class="wpfe-education-info-page-theme-lSelector-lBlock-level">1 - 15</div>
					<div class="wpfe-education-info-page-theme-lSelector-lBlock-level">15 - 30</div>
					<div class="wpfe-education-info-page-theme-lSelector-lBlock-level">30 - 45</div>
					
				</div>
			</div>
		</div>
		<div class="wpfe-education-info-page-theme-tSelector">
			<div class="wpfe-education-info-page-theme-tSelector-up"> Темы
				<div class="wpfe-education-info-page-theme-tSelector-btn"></div>
			</div>
			<div class="wpfe-education-info-page-theme-tSelector-down">
				<div class="wpfe-education-info-page-theme-tSelector-theme"> 
					Тема рас
					<div class="wpfe-education-info-page-theme-tSelector-theme-mark"></div>
				</div>
				<div class="wpfe-education-info-page-theme-tSelector-theme">
					Тема два
					<div class="wpfe-education-info-page-theme-tSelector-theme-mark"></div>
				</div>
				<div class="wpfe-education-info-page-theme-tSelector-theme">
					Тема четыре
					<div class="wpfe-education-info-page-theme-tSelector-theme-mark"></div>
				</div>
				<div class="wpfe-education-info-page-theme-tSelector-theme">
					Лооооооонг тема
					<div class="wpfe-education-info-page-theme-tSelector-theme-mark"></div>
				</div>
				<div class="wpfe-education-info-page-theme-tSelector-theme">
					14 символов макс
					<div class="wpfe-education-info-page-theme-tSelector-theme-mark"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="wpfe-education-info-page-theme-Rblock">
		<div class="wpfe-education-info-page-theme-lPanel">
			<div class="wpfe-education-info-page-theme-level">18</div>
		</div>
		<div class="wpfe-education-info-page-theme-tagPanel">
			<div class="wpfe-education-info-page-theme-tag"> tag</div>
		</div>
		<div class="wpfe-education-info-page-theme-text"></div>
	</div>
</div>