<div class="wpfe-education-info-page-theme-main">
	<div class="wpfe-education-info-page-theme-Lblock">
		<div class="wpfe-education-info-page-theme-Edubutton" [routerLink]="''"> Обучение</div>
		<wpfe-level-dropdown></wpfe-level-dropdown>
		<wpfe-themes-bar [actualTheme]="theme">
		</wpfe-themes-bar>
	</div>
	<div class="wpfe-education-info-page-theme-Rblock">
		<div class="wpfe-education-info-page-theme-Rblock-context">
			<wpfe-level-bar [levels]="this.getHotKeys()" [mode]="1">
			</wpfe-level-bar>

			<wpfe-level-bar [levels]="this.getLevels()" [theme]="this.theme"
				(activeLevels)="this.changeSelectedLevels($event)" [mode]="0">
			</wpfe-level-bar>

			<div class="wpfe-education-info-page-theme-text">
				{{getText()}}
			</div>
		</div>
	</div>
</div>