.wpfe-education-info-page-theme-lPanel {

    border-radius: 15px;
    flex-wrap: wrap;
    background: #DAFFD6;
    box-shadow: inset 5px 5px 5px #b9d9b6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //max-width: 1240px;
    margin-bottom: 20px;
}
.hidden{
  visibility: hidden;
}
