.wpfe-education-info-page-theme-level {
    height: 50px;
    text-align: center;
    font-family: "Bauhaus 93";
    font-size: 25pt;
    display: flex;
    color: #DAFFD6;
    border-radius: 15px;
    background: #63C55A;
    padding: 5px 15px;
    margin: 10px;
    align-items: center;
    border: none;
}