$disabledcolor: #89898945;

.wpfe-education-info-page-theme-level {
    height: 50px;
    text-align: center;
    font-family: "Bauhaus 93";
    font-size: clamp(5px, calc(15px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280)), 22px);
    display: flex;
    color: #DAFFD6;
    border-radius: 15px;
    background: #49a23f;
    padding: 5px 15px;
    margin: 10px;
    align-items: center;
    border: none;
    transition: 0.2s;


    &:hover {
        padding: 7px 15px;
        color: #fbfbfb;
        font-size: clamp(5px, calc(20px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280)), 25px);
    }
}
