.wpfe-education-info-tile {
    border-radius: 50px;
    background: #63C55A;
    box-shadow: 20px 20px 60px #54a74d,
        -20px -20px 60px #72e368;
    width: 313px;
    height: 293px;
    border-radius: 50px;
    text-align: center;
    margin-right: 94px;
}

.wpfe-education-info-tile-image {
    width: 313px;
    height: 293px;
}