.wpfe-education-info-tile {
	margin-top: 50px;
	border-radius: 50px;
	background: #63C55A;
	box-shadow:  20px 20px 60px #54a74d,
             -20px -20px 60px #72e368;
	width: 294px;
	height: 294px;
	text-align: center;
	margin-right: 94px;
}
.wpfe-education-info-tile-image{
	width: 250px;
	height: 250px;
	margin-top: 22px;
}